html, body {
    padding: 0;
    margin: 0;
}
.maximus_blocks {
    *,
    ::after,
    ::before {
        box-sizing: inherit;
        outline: none;
        scroll-behavior: smooth;
        font-family: 'Gilroy', sans-serif, cursive;
        transition: all .3s ease;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .block_sell {
        padding-left: vw(100);
        padding-right: vw(100);
        margin-top: vw(180);
        margin-bottom: vw(30);
        @media all and (max-width: 1023px) {
            margin-top: 100px;
            margin-bottom: 24px;
            padding-left: 12px;
            padding-right: 12px;
        }
        &__in {
            border-radius: vw(16);
            background: #0E0E0E;
            padding-left: vw(355);
            padding-right: vw(50);
            display: flex;
            position: relative;
            @media all and (max-width: 1023px) {
                flex-direction: column;
                padding-left: 18px;
                padding-right: 18px;
                padding-bottom: 20px;
            }
            &:before {
                content: '';
                position: absolute;
                bottom: vw(57);
                right: vw(142);
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='809' height='285' viewBox='0 0 809 285' fill='none'%3E%3Cpath d='M0.666667 237.012C0.666667 244.375 6.6362 250.345 14 250.345C21.3638 250.345 27.3333 244.375 27.3333 237.012C27.3333 229.648 21.3638 223.678 14 223.678C6.6362 223.678 0.666667 229.648 0.666667 237.012ZM450.61 251.882L448.416 250.684L450.61 251.882ZM217.872 177.527L219.105 175.352L217.872 177.527ZM797.012 163.106L799.314 164.081L797.012 163.106ZM596.935 16.0936C595.882 16.9867 595.753 18.5643 596.646 19.6172L611.201 36.7752C612.094 37.8281 613.672 37.9576 614.725 37.0644C615.778 36.1712 615.907 34.5936 615.014 33.5407L602.076 18.2892L617.328 5.35122C618.38 4.45805 618.51 2.88044 617.617 1.82754C616.724 0.774641 615.146 0.645164 614.093 1.53834L596.935 16.0936ZM13.3788 239.433C77.6275 255.914 178.803 274.529 268.022 281.582C312.62 285.108 354.35 285.755 387.027 281.761C403.362 279.765 417.549 276.596 428.739 271.982C439.901 267.38 448.358 261.224 452.804 253.08L448.416 250.684C444.743 257.41 437.475 262.972 426.833 267.359C416.218 271.736 402.521 274.83 386.421 276.798C354.228 280.733 312.881 280.113 268.416 276.598C179.511 269.569 78.6192 251.006 14.6212 234.59L13.3788 239.433ZM452.804 253.08C455.604 247.951 456.44 242.691 455.513 237.431C454.594 232.22 451.973 227.166 448.116 222.318C440.433 212.663 427.5 203.401 411.628 194.821C379.82 177.625 335.276 162.675 294.236 152.724C273.699 147.745 253.986 144.004 237.12 141.858C220.318 139.721 206.138 139.138 196.768 140.593C192.166 141.307 188.229 142.58 185.838 144.844C184.573 146.042 183.714 147.545 183.498 149.33C183.287 151.074 183.72 152.833 184.561 154.535C186.207 157.865 189.689 161.534 194.858 165.595C200.087 169.703 207.276 174.39 216.638 179.701L219.105 175.352C209.862 170.108 202.906 165.559 197.947 161.663C192.928 157.72 190.179 154.617 189.044 152.32C188.495 151.208 188.401 150.439 188.462 149.931C188.519 149.464 188.732 148.99 189.276 148.475C190.503 147.313 193.131 146.218 197.535 145.534C206.179 144.192 219.78 144.692 236.489 146.818C253.135 148.936 272.663 152.638 293.058 157.584C333.883 167.482 377.968 182.308 409.25 199.219C424.923 207.692 437.15 216.567 444.203 225.432C447.715 229.844 449.856 234.146 450.589 238.3C451.313 242.405 450.69 246.518 448.416 250.684L452.804 253.08ZM216.638 179.701C306.822 230.866 437.152 262.491 552.406 263.734C610.045 264.355 664.075 257.382 707.514 241.343C750.945 225.307 784.063 200.095 799.314 164.081L794.709 162.131C780.191 196.418 748.472 220.89 705.782 236.652C663.1 252.412 609.725 259.351 552.46 258.734C437.908 257.498 308.437 226.033 219.105 175.352L216.638 179.701ZM799.314 164.081C811.434 135.459 810.942 112.025 801.465 92.9462C792.04 73.971 773.943 59.7464 751.745 48.9964C707.387 27.5148 645.443 19.34 598.757 15.5084L598.348 20.4916C645.028 24.3227 706.128 32.4608 749.566 53.4965C771.266 64.0052 788.255 77.5904 796.987 95.1704C805.667 112.646 806.404 134.514 794.709 162.131L799.314 164.081Z' fill='%23FFD130'/%3E%3C/svg%3E") 50% / 100% no-repeat;
                width: vw(809);
                height: vw(285);
                @media all and (max-width: 1023px) {
                    width: 88%;
                    height: 49%;
                }
                @media all and (max-width: 580px) {
                    width: 88%;
                    height: 63%;
                    bottom: 100px;
                    right: 10px;
                    background: url("data:image/svg+xml,%3Csvg width='336' height='297' viewBox='0 0 336 297' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.0009 195.5C22.0009 199.918 25.5826 203.5 30.0009 203.5C34.4192 203.5 38.0009 199.918 38.0009 195.5C38.0009 191.082 34.4192 187.5 30.0009 187.5C25.5826 187.5 22.0009 191.082 22.0009 195.5ZM96.5005 270.5L96.9458 271.933L96.5005 270.5ZM121 220.5L119.684 219.78L121 220.5ZM269 275L268.009 273.873L269 275ZM301 66L302.111 64.992L301 66ZM164.44 10.9393C163.854 11.5251 163.854 12.4749 164.44 13.0607L173.986 22.6065C174.572 23.1923 175.521 23.1923 176.107 22.6065C176.693 22.0207 176.693 21.071 176.107 20.4852L167.622 12L176.107 3.51465C176.693 2.92886 176.693 1.97911 176.107 1.39333C175.521 0.807543 174.571 0.807549 173.986 1.39334L164.44 10.9393ZM28.9326 194.447C20.1881 203.318 12.0038 214.991 6.63936 226.912C1.29443 238.789 -1.35583 251.15 1.31715 261.289C2.66318 266.394 5.35731 270.92 9.69361 274.479C14.0177 278.029 19.8967 280.556 27.5258 281.812C42.7424 284.318 65.1707 281.811 96.9458 271.933L96.0552 269.068C64.436 278.898 42.5422 281.245 28.0132 278.852C20.7695 277.659 15.4197 275.299 11.5971 272.161C7.7868 269.033 5.4164 265.069 4.21803 260.524C1.8022 251.361 4.14365 239.768 9.37511 228.143C14.5871 216.561 22.5638 205.182 31.0692 196.553L28.9326 194.447ZM96.9458 271.933C145.549 256.823 161.212 227.857 159.556 210.111C159.143 205.681 157.631 201.884 155.167 199.259C152.674 196.601 149.276 195.228 145.366 195.6C141.503 195.969 137.274 198.022 132.949 201.93C128.616 205.843 124.114 211.68 119.684 219.78L122.316 221.22C126.636 213.32 130.946 207.782 134.96 204.156C138.98 200.524 142.63 198.875 145.65 198.587C148.623 198.303 151.112 199.321 152.98 201.311C154.877 203.334 156.201 206.444 156.569 210.389C158.039 226.143 143.952 254.177 96.0552 269.068L96.9458 271.933ZM119.684 219.78C111.332 235.053 113.328 249.347 121.886 261.286C130.371 273.125 145.245 282.591 162.629 288.678C180.039 294.775 200.126 297.542 219.215 295.85C238.297 294.159 256.493 288 269.991 276.126L268.009 273.873C255.126 285.207 237.602 291.209 218.95 292.862C200.305 294.514 180.646 291.808 163.621 285.847C146.57 279.876 132.322 270.698 124.324 259.539C116.398 248.481 114.549 235.422 122.316 221.22L119.684 219.78ZM269.991 276.126C309.715 241.178 330.19 202.107 334.49 164.859C338.791 127.605 326.893 92.3032 302.111 64.992L299.889 67.008C324.107 93.6968 335.709 128.145 331.51 164.515C327.31 200.893 307.285 239.321 268.009 273.873L269.991 276.126ZM302.111 64.992C252.859 10.7148 180.509 10.4999 165.5 10.5L165.5 13.5C180.492 13.4999 251.591 13.782 299.889 67.008L302.111 64.992Z' fill='%23FFD130'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
                }
            }
        }
        &__round1 {
            width: vw(141);
            height: vw(154);
            position: absolute;
            right: vw(352);
            top: vw(-80);
            @media all and (max-width: 1023px) {
                right: 53px;
                bottom: 19px;
                top: unset;
                width: 71px;
                height: 75px;
            }
        }
        &__round2 {
            width: vw(225);
            height: vw(237);
            position: absolute;
            left: vw(74);
            bottom: vw(151);
            @media all and (max-width: 1023px) {
                display: none;
            }
        }
        &__l-side {
            width: 100%;
            position: relative;
        }
        &__img {
            margin-top: vw(-101);
            max-width: vw(756);
            border-radius: vw(25);
            width: 100%;
            font-size: 0;
            height: vw(336);
            position: relative;
            border: vw(7) solid #FFD130;
            img {
                width: 100%;
                height: 100%;
                border-radius: vw(25);
                object-fit: cover;
            }
            @media all and (max-width: 1023px) {
                margin-top: -77px;
                max-width: 100%;
                border-radius: 16px;
                border: 4px solid #FFD130;
                height: auto;
                margin-bottom: 100px;
                img {
                    border-radius: 16px;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__title {
            margin-top: vw(50);
            max-width: vw(485);
            width: 100%;
            color: #FFF;
            font-size: vw(48);
            font-style: normal;
            font-weight: 900;
            line-height: 110%;
            text-transform: uppercase;
            margin-bottom: vw(22);
            @media all and (max-width: 1023px) {
                margin-top: 0;
                max-width: 100%;
                margin-bottom: 10px;
                font-size: 20px;
            }
        }
        &__text {
            color: #FFF;
            font-size: vw(20);
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            max-width: vw(410);
            width: 100%;
            padding-bottom: vw(91);
            @media all and (max-width: 1023px) {
                font-size: 14px;
                margin-bottom: 10px;
                padding-bottom: 0;
                max-width: 290px;
            }
            @media all and (max-width: 380px) {
                font-size: 13px;
            }
        }
        &__btn {
            width: vw(276);
            height: vw(276);
            position: absolute;
            bottom: vw(-119);
            right: vw(-215);
            @media all and (max-width: 1023px) {
                bottom: -73px;
                left: 28px;
                right: unset;
                width: 107px;
                height: 107px;
                transform: rotate(110deg);
            }
            svg {
                width: 100%;
                height: 100%;
            }
        }
        &__r-side {
            margin-left: vw(30);
            flex: 0 0 vw(332);
            @media all and (max-width: 1023px) {
                padding-bottom: 35px;
                flex: none;
                position: relative;
                height: 220px;
                margin-left: 0;
            }
        }
        &__block {
            display: flex;
            align-items: center;
            border-radius: vw(43.5);
            background: #FFF;
            padding: vw(5) vw(4);
            @media all and (max-width: 1023px) {
                border-radius: 40px;
                width: 142px;
                height: 39px;
                position: absolute;
            }
            &:nth-child(1) {
                transform: scale(0.6) rotate(-5deg);
                left: vw(-40);
                position: relative;
                top: vw(26);
                @media all and (max-width: 1023px) {
                    transform: unset;
                    position: absolute;
                    left: unset;
                    top: -160px;
                    right: 0px;
                }
            }
            &:nth-child(2) {
                transform: scale(0.6) rotate(18deg);
                left: vw(54);
                top: vw(61);
                position: relative;
                @media all and (max-width: 1023px) {
                    position: absolute;
                    transform: unset;
                    right: 0px;
                    left: unset;
                    top: unset;
                    bottom: 109px;
                }
            }
            &:nth-child(3) {
                transform: scale(0.6) rotate(-14deg);
                left: vw(-85);
                top: vw(106);
                position: relative;
                @media all and (max-width: 1023px) {
                    position: absolute;
                    transform: rotate(-15deg);
                    left: 42px;
                    bottom: 160px;
                    top: unset;
                }
            }
            &:nth-child(4) {
                transform: scale(0.6) rotate(25deg);
                left: vw(69);
                position: relative;
                top: vw(133);
                @media all and (max-width: 1023px) {
                    position: absolute;
                    transform: unset;
                    transform: rotate(17deg);
                    left: 23px;
                    bottom: 34px;
                    top: unset;
                }
            }
        }
        &__avatar {
            width: vw(87);
            flex: 0 0 vw(87);
            height: vw(87);
            border-radius: 50%;
            overflow: hidden;
            margin-right: vw(16);
            @media all and (max-width: 1023px) {
                width: 35px;
                flex: 0 0 35px;
                height: 35px;
                margin-right: 10px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__name {
            color: #0D0D0D;
            font-size: vw(20);
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            @media all and (max-width: 1023px) {
                font-size: 9px;
            }
        }
        &__work {
            color: #0D0D0D;
            font-size: vw(16);
            font-style: normal;
            font-weight: 400;
            line-height: 137.5%;
            @media all and (max-width: 1023px) {
                font-size: 7px;
            }
        }
    }
}